<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blueing.sports_meet_system.mapper.BasketballGameMapper">
    <insert id="addScoringSituation">
        insert into scoring_situation(cid,scoring_time,score) value(#{cid},#{scoringTime},#{score})
    </insert>
    <update id="modifyTeamScores">
        update scoring_record set score=#{score} where cid=#{cid}
    </update>

    <select id="queryTeamScores" resultType="com.blueing.sports_meet_system.pojo.BasketballGame">
        select score from scoring_record where cid=#{cid}
    </select>
</mapper>